@font-face {
	font-family: SF-Mono;
	src: URL("../fonts/SF-Mono/SF-Mono.woff") format("woff"); 
	src: URL("../fonts/SF-Mono/SF-Mono.ttf") format("truetype");
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.opening {
	position: absolute;
	height: 482px;
	width: 670px;
	margin-top: 54px;
	margin-left: 42px;
	background-size: 756px 590px;
	background-image: URL("https://media.giphy.com/media/65n8RPEa3r65q/giphy.gif");
}

.menu {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -295px;
	margin-left: -378px;
	height: 590px;
	width: 756px;
	background-color: black;
	background-size: 756px 590px;
	background-image: URL("../images/terminal_maison.png");
	font-family: ModeSeven, Helvetica, Arial;
}
.transform {
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-o-transition: all 2s;
	-ms-transition: all 2s;
	transition: all 2s;
}

.transform-active {
	top: 0px;
	left: 0px;
	margin-top: 0px;
	margin-left: 0px;
	background-image: URL("../images/terminal_maison.png");
}

.button {
	font-family: SF-Mono, Helvetica, Arial;
	font-size: 1em;
	position: absolute;
	color: #00c200;
	transition: font-size 0.1s;
	cursor: pointer;
}

.button:hover {
	font-size: 1.1em;
}

.hiden {
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;
}

.hiden-active {
	opacity: 0;
}

.info {
	font-family: SF-Mono, Helvetica, Arial;
	font-size: 1em;
	color: #00c200;
	position: absolute;
	top: 75px;
	left: 100px;
}

.cv {
	top: 150px;
	left: 100px;
}

.portfolio {
	top: 225px;
	left: 100px;
}

.about {
	top: 300px;
	left: 100px;
}

.contact {
	top: 375px;
	left: 100px;
}